name: Deploy

on:
  workflow_call:
    inputs:
      filename:
        required: true
        type: string
      image_version:
        required: true
        type: string

    secrets:
      TOKEN:
        required: true

jobs:
  update_infra_version:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Checkout the infra repo
      - name: Checkout infrastructure repo
        uses: actions/checkout@v3
        with:
          repository: MLOps-CallcenterAI/Infrastructure-Configuration
          token: ${{ secrets.TOKEN }}
          path: infrastructure

      # 2️⃣ Configure git
      - name: Set up git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      # 3️⃣ Update version in config file
      - name: Update infrastructure version
        run: |
          cd infrastructure
          chmod +x ./scripts/update_image.sh
          ./scripts/update_image.sh ${{ inputs.filename }} ${{ inputs.image_version }}

      # 4️⃣ Commit and push
      - name: Commit and push changes
        run: |
          cd infrastructure
          git add .
          git commit -m "Update image version to ${{ inputs.image_name }}:${{ inputs.image_version }}" || echo "No changes to commit"
          git push origin main
